TestWebService/WebContent/wsdl/Calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.test.com"
 xmlns:impl="http://ws.test.com" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.test.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addValue">
    <complexType>
     <sequence>
      <element name="value" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="addValueResponse">
    <complexType>
     <sequence>
      <element name="addValueReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="substractValue">
    <complexType>
     <sequence>
      <element name="value" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="substractValueResponse">
    <complexType>
     <sequence>
      <element name="substractValueReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addValueResponse">

      <wsdl:part element="impl:addValueResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="substractValueResponse">

      <wsdl:part element="impl:substractValueResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="substractValueRequest">

      <wsdl:part element="impl:substractValue" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addValueRequest">

      <wsdl:part element="impl:addValue" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Calculator">

      <wsdl:operation name="addValue">

         <wsdl:input message="impl:addValueRequest" name="addValueRequest">

       </wsdl:input>

         <wsdl:output message="impl:addValueResponse" name="addValueResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="substractValue">

         <wsdl:input message="impl:substractValueRequest" name="substractValueRequest">

       </wsdl:input>

         <wsdl:output message="impl:substractValueResponse" name="substractValueResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculatorSoapBinding" type="impl:Calculator">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addValue">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addValueRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addValueResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="substractValue">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="substractValueRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="substractValueResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculatorService">

      <wsdl:port binding="impl:CalculatorSoapBinding" name="Calculator">

         <wsdlsoap:address location="http://localhost:8080/TestWebService/services/Calculator"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
